div.footer{
    bottom: 0;
    width: 100vw;
    max-height: 200px;
}

div.footer>div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 30px;
}
div.footer>div a {
    text-decoration: none;
    color: #000000;
    cursor: pointer;
    padding: 0 15px;
    font-size: 14px;
    font-family: arial,sans-serif;
}
div.footer>div a:hover {
    text-decoration: underline;
}
div.footer>p {
    padding: 15px 45px;
    border-bottom: 1px solid #212327;
    font-size: 15px;
    font-family: arial,sans-serif;
}
div.footer>div a>img {
    width: 20px;
    height: 20px;
}
.footer_first {
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-between;
}

@media screen and (max-width:1150px) {
    div.footer 
    {
        max-height: 200px;
        padding-top: 200px;
    }
    div.footer>div a
    {
        padding: 0 10px;
    }

    div.footer>div {
        padding: 20px  0;
        flex-direction: column;
        width: 100vw;
        justify-content: center;
        align-items: center;
        text-align: center;
       
    }
    .footer_first {
        flex-direction: column-reverse;
        padding-bottom: 30px;
        width: inherit;
    }
    .footer_first:last-child
    {
        padding-bottom: 30px;
    }
    .footer_second
    {
        padding-bottom: 30px;   
    }
}